body{
    background-color: rgb(121, 90, 117);
}
h1{
    font: size 60px; 
    color: beige;
    text-align: center;
    border: 5px dotted rgb(112, 58, 124);
}
p{
    font-size: 20px;
    color: black;
    text-align: center;
}
img{
    width: 15%;
    margin-left: 850px;
    border: 5px solid rgb(149, 103, 155); }